:root {
  --white-color: #fff;
  --accent-color: #03a9f4;
  --text-color: #626262;
  --lightgrey-color: #b4ad9e;
  --text-size: 14px;
  --text-leading: 24px;
  --primary-font: 'Playfair Display', serif;
  --signature-font: 'Ubuntu', sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: var(--white-color);
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 1.2;
  color: var(--text-color);
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  padding-top: 77px;
  padding-bottom: 102px;
}

/* SITE-NAV */

.site-nav {
  display: flex;
  justify-content: center;
}
.site-nav {
  font-size: var(--text-size);
  line-height: var(--text-leading);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

.navigation:not(:last-child) {
  margin-right: auto;
  text-decoration: none;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 40px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
/*SIGNATURE*/
.signature {
  font-family: var(--signature-font);
  text-transform: uppercase;
  color: var(--lightgrey-color);
}
/*HEADER*/
.tittle {
  font-size: 30px;
  font-weight: 400px;
  margin-top: 0px;
  margin-bottom: 33px;
  color: var(--text-color);
}
.about {
  margin: 0;
}

.features {
  /*background-color: turquoise;*/
  font-family: var(--primary-font);
  padding-bottom: 70px;
}
.features .signature {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}
.features-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 59px;
  margin-top: 0;
  padding-left: 0;
}

.features-list-item {
  width: 420px;
  margin-bottom: 134px;
}
.features-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.features-list-item:not(:nth-child(2n)) {
  margin-right: 60px;
}

.image {
  margin-bottom: 30px;
}
/*button*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 165px;
  height: 50px;
  border: 1px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  color: var(--text-color);
  font-size: 20px;
  line-height: var(--text-leading);
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--white-color);
}
